<main class="container">
  <app-title-header></app-title-header>
  <app-builder-info (sendContract)="receiveInt($event)" (sendContractor)="receiveContracts($event)"></app-builder-info>
  <app-table-content-month [intervenor] = "intervenor" [agreements]="contracts"></app-table-content-month>
  <app-table-introduction></app-table-introduction>
  <app-table-contracts [intervenor] = "intervenor" [contracts]="contracts"></app-table-contracts>
  <app-table-report [intervenor] = "intervenor" [contracts]="contracts"></app-table-report>
</main>
<app-report-sheet></app-report-sheet>
