<main class="container">
  <app-title-header></app-title-header>
  <app-builder-info (sendContract)="receiveInt($event)" (deleteContract)="firedContractor()" (sendContractor)="receiveContracts($event)"></app-builder-info>
  <app-table-content-month [intervenor] = "intervenor" [agreements]="contracts"></app-table-content-month>
  <app-table-introduction></app-table-introduction>
  <app-table-contracts [intervenor] = "intervenor" [contracts]="contracts"></app-table-contracts>
  <app-table-report [intervenor] = "intervenor" [contracts]="contracts"></app-table-report>
  <app-note-table></app-note-table>
  <div class="owner">
    <p>Elaborado por: <strong (dblclick)="showOwner()" *ngIf="!activeOwner" class="editable-cell">{{owner | titlecase}}</strong>
    <input (keyup.enter)="showOwner()" *ngIf="activeOwner" [(ngModel)]="owner" placeholder="Ingrese el nombre" type="text" class="input-form"></p>
  </div>
</main>
<app-report-sheet (closeEmit)="modalPdf()" *ngIf="showPdf"></app-report-sheet>

<div class="main-button">
  <button class="generate-button" (click)="modalPdf()">
    <i class="fa fa-file-text"></i>
    Generar Reporte
  </button>
</div>
