<table>
  <tr>
    <th>INFORMACION DE CONTRATOS</th>
    <th *ngIf="intervenor">
      INT {{intervenor}}
    </th>
    <th *ngFor="let field of contracts; let i = index">{{field}}</th>
    <th>NOTAS Y RECOMENDACIONES</th>
  </tr>
  <tr *ngFor="let row of rows; let i = index; let isLast = last">
    <td class="text">
      <a class="text">
        {{row.title}}
      </a>
    </td>
    <td class="text editable-cell" *ngIf="intervenor" (dblclick)="editInt(i)">
      <select class="cell-form" *ngIf="intStatus[i] !='OTRO' && intStatusActive && positionRow == i"
        [(ngModel)]="intStatus[i]" (keyup.enter)="saveInt(i)">
        <option *ngFor="let status of options" [value]="status">{{status}}</option>
      </select>
      <input placeholder="Ingrese el motivo" class="cell-form"
        *ngIf="intStatusActive && intStatus[i]=='OTRO' && positionRow == i" (keyup.escape)="intStatus[i] = ''"
        [(ngModel)]="intStatusOther" (keyup.enter)="saveIntOther(i)">

        <button *ngIf="intStatusActive && intStatus[i]=='OTRO' && positionRow == i" class="check" [disabled]="!intStatusOther"
        (click)="saveIntOther(i)"><i class="fa fa-check-circle"></i></button>
      <button *ngIf="intStatus[i] !='OTRO' && intStatusActive && positionRow == i" class="check" [disabled]="!activeOptions('intervenor', i)"
        (click)="saveInt(i)"><i class="fa fa-check-circle"></i></button>

      <a class="text" *ngIf="!intStatusActive || positionRow != i">
        {{intStatus[i]}}
      </a>
    </td>
    <td *ngFor="let field of contracts; let j = index" [ngClass]="{'editable-cell': !isLast}" (dblclick)="editCell(i, j, isLast)">
      <a *ngIf="!changeAgreement  || activeRow != i || activeCol != j" class="text">
        {{row.agreements![j] === '' ? 'Ingrese valor' : row.agreements![j]}}
      </a>
      <select class="cell-form" [(ngModel)]="cell"
        *ngIf="changeAgreement && activeRow === i && activeCol === j && cell !== 'OTRO' && !isLast"
        (keyup.escape)="cancelEdit(i, j)" (keyup.enter)="saveEdit(i, j)">
        <option *ngFor="let status of options" [value]="status">{{status}}</option>
      </select>
      <input placeholder="Ingrese el motivo" class="cell-form"
        *ngIf="changeAgreement && activeRow === i && activeCol === j && cell === 'OTRO' && !isLast"
        (keyup.escape)="cancelEdit(i, j)" (keyup.enter)="saveEdit(i, j)" [(ngModel)]="cellOther">
      <button *ngIf="changeAgreement && activeRow === i && activeCol === j && !isLast" class="check" [disabled]="!activeOptions('contract')"
        (click)="saveEdit(i,j)"><i class="fa fa-check-circle"></i></button>
      <a *ngIf="isLast" class="text">N/A</a>

    </td>
    <td class="text">
      <a class="text">
        {{row.Notes}}
      </a>
    </td>
  </tr>
</table>

<!--
<app-add-button [text]="'Agregar Fila'" (activeButton)="addRows()"></app-add-button>
-->
<div class="border"></div>

<div class="section form" *ngIf="addRow">
<!--
  <input [ngClass]="{'check-input': validateRowForm('title'), 'invalid-input': !validateRowForm('title')}"
    class="input-form" [(ngModel)]="titleRow" placeholder="Contenido del formulario">
  <input [ngClass]="{'check-input': validateRowForm('notes'), 'invalid-input': !validateRowForm('notes')}"
    class="input-form" [(ngModel)]="notesRow" placeholder="Contenido del formulario">
  <button [disabled]="!activeOptions()" (click)="submitRow()" class="submit-action">Agregar Fila</button>
  -->
</div>
