<table>
  <tr>
    <th>
      NOTAS Y RECOMENDACIONES GENERALES
    </th>
  </tr>
  <tr>
    <td class="text editable-cell" (dblclick)="showInput()">
      <a *ngIf="!activeInput" class="text">
        {{notes}}
      </a>
      <textarea *ngIf="activeInput" [(ngModel)]="notes" placeholder="Ingrese las notas y recomendaciones aqui" rows="15" cols="20"
        class="cell-form" style="height: 120px; width:95%; margin-bottom:20px; margin-top:10px"></textarea>
        <button (click)="showInput()" *ngIf="activeInput">
          Agregar notas
        </button>
    </td>
  </tr>
</table>
<div class="border"></div>

