body{
  position: relative;
  background-color: gray;
  height: 100%;
  font-size: 1.1rem;
}

h1{
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.2rem;
  font-weight: 600;
}

h2{
  font-size: 1.2rem;
  font-weight: 600;
}
.textobold{
  font-size: 1.2rem;
  font-weight: bold;
}

.App {
  position: absolute;
  left: 50%;
  align-items: center;
  background-color: white;
  width: 1024px;
  transform: translate(-50%, 0);
  box-shadow: 1px 1px 4px 1px black;
}

.pdf-button{
  position: fixed;
  bottom: 0;
  left: 40%;
  z-index: 99999;
  margin: 10px;
  width: 400px;
  height: 50px;
  background-color: rgb(254, 104, 104);
  color: white;
  font-weight: 600;
  border: 0;
  border-radius: 8px;

}

.pdf-button:hover{
  background-color: rgb(220, 77, 77);
  cursor: pointer;
}
.close{
  background-color: rgb(254, 104, 104);
  color: white;
  position: fixed;
  top:10px;
  right: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  vertical-align: middle;
  font-size: 18px;
}
.close:hover{
  background-color: rgb(220, 77, 77);
  cursor: pointer;
}

.close:active{
  background-color: rgb(167, 36, 36);
}

.pdf-button:active{
  background-color: rgb(167, 36, 36);
}

.pagina{
  margin: 2cm;
  padding: 1cm 2cm 2cm 2cm;
  position: relative;
}

img{
  position: absolute;
  top: 0;
  left: 30px;
  opacity: 0.5;
}

.headerdiv {
  padding-left: 10%;
}

.inginterventor{
  padding-top: 1pt;
  text-indent: 0pt;
}

.columns{
  display: flex;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;

  ul:first-child{
    padding: 0;
  }
}
